doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet' type='text/css' href='/style/stylify.css?force-siter=true')
		link(rel='stylesheet' type='text/css' href='/style/style.css?force-siter=true')
		link(rel='icon' type='image/svg+xml' href='/img/icon.svg?force-siter=true')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		block head
			title Page unavailable | Siter

	body
		header.d-flex.border-bottom.justify-content-between.align-items-center.px-5
			img(src='/img/logo.svg?force-siter=true' alt='Siter logo')
			block header

		#notification-container

		main
			block main

		footer.bg-light.d-flex.justify-content-between.px-5
			p Siter β
			block footer
			p Created by
				|
				|
				a(href='https://mstefan99.com/') Mikhail Stefantsev
