extends layout
include help


block head
	title Dashboard | Siter


block header
	b.mx-3 Dashboard


block main
	#main-container.d-block.d-lg-flex
		#dashboard.mx-lg-5.mb-5.mb-lg-0.flex-grow-1

		+help
			+helpSection('Server status', '/html/help/status.html')
			+helpSection('What are routes', '/html/help/routes/about.html')
			+helpSection('Managing routes', '/html/help/routes/manage.html')
			+helpSection('Understanding route options', '/html/help/routes/options.html')
			+helpSection('URL mask', '/html/help/routes/url_mask.html')
			+helpSection('Security', '/html/help/routes/security.html')
			+helpSection('Target', '/html/help/routes/target.html')
			+helpSection('Example setup', '/html/help/routes/examples.html')

	script(async type="module" src="/dist/app.js")
