extends layout
include help

block head
	title Dashboard | Siter

block header
	b.mx-3 Dashboard

block main
	#main-container.d-block.d-lg-flex
		#dashboard.mx-lg-5.mb-5.mb-lg-0.flex-grow-1

		+help
			+helpSection('Status', '/help/dashboard/status.html')
			+helpSection('Apps', '/help/dashboard/apps.html')
			+helpSection('Managing apps', '/help/dashboard/manage.html')
			+helpSection('App features', '/help/dashboard/features.html')
			+helpSection('Source', '/help/dashboard/source.html')
			+helpSection('Security', '/help/dashboard/security.html')
			+helpSection('Target', '/help/dashboard/target.html')
			+helpSection('Process manager', '/help/dashboard/process_manager.html')
			+helpSection('Analytics', '/help/dashboard/analytics.html')

	if dev
		script(async type="module" src="http://localhost:9000/app.js")
	else
		script(async type="module" src="/dist/app.js")
