mixin help
	#help-container
		h1 Help
		if block
			block
	script(async type='module' src='/js/help.js')


mixin helpSection(name, src)
	div(data-help-src=src)
		h2.help-header.user-select-none= name
