extends layout

block main
	div
		h1 About Siter
		p.about.
			Siter is a simple tool allowing you to easily set up your server to host static files or act as a reverse
			proxy for other applications running on your server.
