doctype html
head
	include head

body
	include header_min

	main
		div.navigation-container
		div.main-container
			div
				h1 About Siter
				p.about.
					Siter is a tool that allows you to manage your web server, like Apache, through an intuitive and
					easy-to-use web interface so you never have to edit those config files again!
				p.about.
					To start using Siter you need to install Siter on your server or ask the owner of this server to
					add a new user for you and give you a special code, called "SiterCODE", to set your password and sign in.
				p.about.
					Unfortunately, you cannot use Siter without a permission from the owner of this server.
		div.info-container

	footer
		include footer