extends layout

block main
	div.container-md
		h1 About Siter
		p.
			Originally planned to be a web interface for Apache, Siter has since become
			a standalone application you can use to easily set up your web server to
			host a variety of things. You can configure Siter to serve static files,
			be a reverse proxy or both at the same time. The main goal of Siter is to
			make setting up servers easy and streamlined, whether you just need to
			host a single application you made yourself or dozens of web servers
			used by a lot of people. Siter is designed to be fast and reliable,
			features an easy-to-use web interface and can be set up in minutes!
		p
		|
		a(href='https://github.com/MStefan99/Siter/releases') Try
		|  Siter today!
