extends layout

block main
	div.d-block.d-lg-flex
		include nav-container

		div#dashboard.mx-5
			h1 Dashboard
			h2#status Status
			div.alert.alert-secondary.mx-3#status-field Waiting for server...
			h2#routes Routes
			div#route-container.row
				div.route.mx-3
					h3 Siter route
					div.border-bottom
						h4 URL mask
						a#route-siter.route-link(href='/#')
							b.subdomain siter
							span.text-muted .your-domain.tld:
							b.port 80
							span.text-muted /
					div.route-security.border-bottom
						h4 Security
						p.secure Secure: #[b no]
					div.route-target.border-bottom
						h4 Target
						p
							b Siter web interface
			button.btn-primary.ml-3#add-route-button Add route

		div#help-container
			h1 Help
			div(data-help-src='/html/help/dashboard/status.html')
				h2.user-select-none Server status
			div(data-help-src='/html/help/dashboard/routes.html')
				h2.user-select-none Routes
			script(async type='module' src='/js/help.js')

	script(type="module" src="/js/routes.js")
	script(type="module" src="/js/route_editor.js")
