extends layout

block main
	div.d-block.d-lg-flex
		include nav-container

		div#dashboard.mx-lg-5.mb-5.mb-lg-0
			h1 Dashboard
			h2#status Status
			div.alert.alert-secondary.mx-3#status-field Waiting for server...
			h2#routes Routes
			div#route-container.row
				div.route.mx-3
					h3 Siter route
					div.border-bottom
						h4 URL mask
						a#route-siter.route-link(href='/#')
							b.subdomain siter
							span.text-muted .your-domain.tld:
							b.port 80
							span.text-muted /
					div.route-security.border-bottom
						h4 Security
						p.secure Secure: #[b no]
					div.route-target.border-bottom
						h4 Target
						p
							b Siter web interface
			button.btn-primary.ml-3#add-route-button Add route

		div#help-container
			h1 Help
			div(data-help-src='/html/help/status.html')
				h2.help-header.user-select-none Server status
			div(data-help-src='/html/help/routes/about.html')
				h2.help-header.user-select-none What are routes
			div(data-help-src='/html/help/routes/manage.html')
				h2.help-header.user-select-none Managing routes
			div(data-help-src='/html/help/routes/options.html')
				h2.help-header.user-select-none Understanding route options
			div(data-help-src='/html/help/routes/url_mask.html')
				h3.help-header.user-select-none URL mask
			div(data-help-src='/html/help/routes/security.html')
				h3.help-header.user-select-none Security
			div(data-help-src='/html/help/routes/target.html')
				h3.help-header.user-select-none Target
			div(data-help-src='/html/help/routes/examples.html')
				h2.help-header.user-select-none Example setup
		script(async type='module' src='/js/help.js')

	script(type="module" src="/js/routes.js")
	script(type="module" src="/js/route_editor.js")
