extends layout
include help


block head
	title Dashboard | Siter


block header
	b.mx-3 Dashboard


block main
	div#main-container.d-block.d-lg-flex
		include navigation

		div#dashboard.mx-lg-5.mb-5.mb-lg-0.flex-grow-1
			h1#title Dashboard
			h2#status Status
			div.alert.alert-secondary.mx-3#status-field Waiting for server...
			h2#routes Routes
			div#route-list
			button.btn-primary.ml-3#add-route-button Add route

		+help
			+helpSection('Server status', '/html/help/status.html')
			+helpSection('What are routes', '/html/help/routes/about.html')
			+helpSection('Managing routes', '/html/help/routes/manage.html')
			+helpSection('Understanding route options', '/html/help/routes/options.html')
			+helpSection('URL mask', '/html/help/routes/url_mask.html')
			+helpSection('Security', '/html/help/routes/security.html')
			+helpSection('Target', '/html/help/routes/target.html')
			+helpSection('Example setup', '/html/help/routes/examples.html')

	script(async type="module" src="/dist/routes.js")
	//script(async type="module" src="/js/route_editor.js")
