doctype html
head
	include head

body
	include header

	main
		div.navigation-container navigation container
		div.main-container= main
		div.info-container info container

	footer
		include footer
