doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='/style/stylify.css')
		link(rel='stylesheet', type='text/css', href='/style/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block head

	body
		header.d-flex.bg-light.border-bottom.justify-content-between.align-items-center.px-5
			a(href='/#')
				img(src='/img/logo.svg' alt='Siter logo')
			nav
				a.btn.btn-outline-secondary(href='/about/') About
				if (session)
					a.btn.btn-outline-secondary(href='/settings/') Settings
					a.btn.btn-outline-primary(href='/logout/') Sign out
		block body

		div#notification-container

		main.container-xl
			include flash
			block main

		footer.bg-light.d-flex.justify-content-between.px-5
			p Siter v0.0.1-alpha
			block footer