extends layout
include help


block head
	title Settings | Siter


block header
	b.mx-3 Settings


block main
	div#main-container.d-block.d-lg-flex
		include navigation

		div#settings.mx-lg-5.mb-5.mb-lg-0.flex-grow-1
			h1#title Settings

		+help


