doctype html
head
	include ../head
	link(rel="stylesheet", type="text/css", href="/style/login.css")

body
	include ../header_min

	main
		div.login-wrapper
			form#login-form(action="/register", method="post")
				label.title Siter Signup
				label.subtitle(for="sitercode") Your SiterCODE
				input.text#sitercode(type="text", name="sitercode", placeholder="Code")
				label.subtitle(for="password") Enter your password
				input.text#password(type="password", name="password", placeholder="Password")
				label.output#pwd-complexity(for="password")
				label.subtitle(for="password-repeat") Repeat your password
				input.text#password-repeat(type="password", name="password-repeat", placeholder="Password again")
				label.output#check(for="password")
				input.button#submit(type="submit")

				script(type="text/javascript" src="/js/form_checker.js")


footer
	include ../footer

