@require variables

html
	body
		main
			div.login-wrapper
				form#login-form
					&, .title, .subtitle, input
						text-align center
						display block
						margin 1vh 0

					.title
						margin 2vh 0
						font-weight bold

					input.text
						border none
						border-bottom 3px solid
						border-color borderColor
						outline none
						transition border-color linear .2s

						&:hover
							border-color mainColor

						&:focus
							border-color secondaryColor

					.output
						font-style italic

					input#submit
						height 2em
						width: 100%
						background secondaryColor
						color #fff
						cursor pointer
						border none
						border-bottom 3px solid
						border-color secondaryColor
						transition background linear .2s
						font-weight bold

						&:hover
							background #aaa