@require variables

html
	body
		main
			div.login-wrapper
				form.login-form
					&, .title, .subtitle, input
						display block
						margin 1vh 0

					.title
						margin 2vh 0
						text-align center
						font-weight bold

					input.text
						border-style none none solid none
						border-color mainColor