@require variables

p, ul
	margin .5em 0

html
	scroll-behavior smooth

	body
		display flex
		flex-flow column nowrap
		justify-content space-between
		height 100vh
		font-family sans-serif
		margin 0

		#notification-container
			position fixed
			top: 5vh
			left 0
			right 0
			margin 0 30vw

			.notification
				position relative
				margin 0 0 2vh 0
				padding 1em
				border-radius .5em
				box-shadow: 0 10px 30px 5px shadowColor
				opacity 0
				transform translateY(-100%)
				transition opacity linear .5s,
				transform cubic-bezier(0.22, 0.61, 0.36, 1) .5s

				&.visible
					opacity 1
					transform translateY(0)

				.notification-title
					color #fff
					font-weight bold
					margin-top 0

				.notification-close
					color #fff
					font-size 2rem
					font-weight bold
					position absolute
					cursor pointer
					top 0
					right 5%

				.notification-info
					color #fff

			.notification-ok
				background okColor

			.notification-warning
				background warnColor

			.notification-error
				background errorColor

		header
			display flex
			flex-flow row nowrap
			align-items center
			justify-content space-between
			padding 3vh 5vw
			background mainGradient
			color #fff

			ul
				display flex
				flex-flow row wrap
				list-style-type none
				margin-left 10vw;

				li
					margin 1vh 1vw

					a
						color #fff
						font-weight bold

		main
			padding page-padding
			display flex
			flex-flow row nowrap
			justify-content center
			align-items flex-start

			div.side-container
				position sticky
				top 5vh
				max-height 90vh
				overflow-y auto
				background panelColor
				margin-top: 2vh;
				padding 0 1vh

				h1
					text-align center

			div.navigation-container
				order 0
				flex 1 2

				.menu-h3
					margin-left 2em

				.menu-h4
					margin-left 3em

				.menu-h5
					margin-left 3.5em

				ul
					list-style none
					padding-left 0

					li
						margin .5em 0

				a
					color: #000
					font-weight bold
					font-size 1em
					text-decoration none

					&:hover
						color okColor

				.sub-element
					padding-left 1em

			div.main-container
				padding 0 2vh
				order 1
				flex 3 1

				div#dashboard-container
					.status-info
						display inline
						color #fff
						background warnColor
						font-weight bold
						font-size 2rem
						padding .5rem

					.good-status
						background okColor

					.warning-status
						background warnColor

					.bad-status
						background errorColor

					div.dashboard-section
						padding 1vh 0
						margin 1vh 0
						border-bottom 2px solid borderColor

						.button-link
							color #fff
							background #000
							text-decoration none
							padding .3em

					ul
						padding-inline-start 40px

				p.about
					max-width 60vw

			div.info-container
				order 2
				flex 1 2

				h2
					text-align center

		footer
			padding page-padding
			background panelColor
			bottom 0
