@require variables

p, ul
	margin 0
	padding 0

html
	body
		font-family sans-serif
		margin 0

		header
			display flex
			flex-flow row nowrap
			align-items center
			justify-content space-between
			padding 3vh 5vw
			background mainGradient
			color #fff

			ul
				display flex
				flex-flow row wrap
				list-style-type none
				margin-left 10vw;

				li
					margin 1vh 1vw

					a
						color #fff

		main
			padding page-padding
			display flex
			flex-flow row nowrap
			justify-content center
			align-items flex-start

			div.navigation-container
				background #f5f5f5
				margin-top: 2vh;
				padding 0 1vh
				order 0
				flex 1 2

				h2
					text-align center

			div.main-container
				padding 0 2vh
				order 1
				flex 3 1

				div#dashboard-container
					.status-info
						display inline
						color white
						background #555
						margin-left 1em
						font-weight bold

					.good-status
						background #0f0
					.warning-status
						background #f60
					.bad-status
						background #f00

					div.dashboard-section
						padding 1vh 0
						margin 1vh 0
						border-bottom 2px solid #ddd

				p.about
					max-width 60vw

			div.info-container
				background #f5f5f5
				margin-top: 2vh;
				padding 0 1vh
				order 2
				flex 1 2

				h2
					text-align center

		footer
			padding page-padding
