page-padding = 3vh 3vw
mainColor = #eb7015
secondaryColor = #c930eb
okColor = #0a0
warnColor = #770
errorColor = #a00
borderColor = #ddd
panelColor = #f5f5f5
shadowColor = rgba(0, 0, 0, 0.3)
mainGradient = linear-gradient(90deg, mainColor 0%, secondaryColor 100%)



p, ul
	margin .5em 0

html
	scroll-behavior smooth

	form
		.good-status
			color okColor

		.warning-status
			color warnColor

		.bad-status
			color errorColor

		&, .title, .subtitle, input
			width 100%
			text-align center
			display block
			margin 1vh 0
			box-sizing border-box

		.title
			margin 2vh 0
			font-weight bold

		input
			border none
			border-bottom 3px solid
			border-color borderColor
			outline none
			transition border-color linear .2s

			&:hover
				border-color mainColor

			&:focus
				border-color secondaryColor

		.output
			text-align center
			white-space normal
			font-style italic

		input[type="button"], input[type="submit"]
			height 2em
			width: 100%
			background secondaryColor
			color #fff
			cursor pointer
			border none
			border-bottom 3px solid
			border-color secondaryColor
			transition background linear .2s
			font-weight bold

			&:hover
				background #aaa

	body
		font-family sans-serif
		margin 0

		.clickable
			text-decoration underline
			cursor pointer
			color secondaryColor

			&:hover
				color mainColor

		#notification-container
			position fixed
			top: 5vh
			left 0
			right 0
			margin 0 30vw

			.notification
				position relative
				margin 0 0 2vh 0
				padding 1em
				border-radius .5em
				box-shadow: 0 10px 30px 5px shadowColor
				opacity 0
				transform translateY(-100%)
				transition opacity linear .5s,
				transform cubic-bezier(0.22, 0.61, 0.36, 1) .5s

				&.visible
					opacity 1
					transform translateY(0)

				.notification-title
					color #fff
					font-weight bold
					margin-top 0

				.notification-close
					color #fff
					font-size 2rem
					font-weight bold
					position absolute
					cursor pointer
					top 0
					right 5%

				.notification-info
					color #fff

			.notification-ok
				background okColor

			.notification-warning
				background warnColor

			.notification-error
				background errorColor

		header
			display flex
			flex-flow row nowrap
			align-items center
			justify-content space-between
			padding 3vh 5vw
			background mainGradient
			color #fff

			ul
				display flex
				flex-flow row wrap
				list-style-type none
				margin-left 10vw;

				li
					margin 1vh 1vw

					a
						color #fff
						font-weight bold

		div#tab-container
			display flex
			flex-flow row wrap

			div.tab-selector
				padding .5em 1em
				text-align center
				border-radius 0 0 .2em .2em
				background panelColor
				cursor pointer
				flex 1

				&.tab-selected
					background #fff

				p
					margin auto 0
					font-weight bold

		main
			min-height 90vh
			padding page-padding

			#popup
				position fixed
				background #fff
				padding 2em
				border-radius .5em

			#main-fade
				position fixed
				height 100vh
				width 100vw
				top: 0
				background #000
				opacity .5

			@media screen and (min-width 1024px)
				display flex
				flex-flow row nowrap
				justify-content center
				align-items flex-start

			div.side-container
				overflow-y auto
				background panelColor
				padding 0 1vh
				max-height 30vh

				@media screen and (min-width 1024px)
					position sticky
					top 5vh
					max-height 90vh

				h1
					text-align center

			div#navigation-container
				order 0
				flex 1 2

				.menu-h2
					margin-left 10%

				.menu-h3
					margin-left 20%

				.menu-h4
					margin-left 30%

				.menu-h5
					margin-left 35%

				ul
					list-style none
					padding-left 0

					li
						margin .5em 0

				a
					color: #000
					font-weight bold
					font-size 1em
					text-decoration none

					&:hover
						color okColor

				.sub-element
					padding-left 1em

			div#main-container
				padding 0 2vh
				order 1
				flex 3 1

				div#content-container
					.title
						margin-top 0
						text-align center
						font-weight bolder
						font-size 4rem
						border-bottom 10px solid borderColor

					div.tab
						display none

						&.tab-selected
							display block

						table
							width 100%

						table, th, td
							border 2px solid borderColor
							border-collapse collapse

						th
							font-weight bold
							padding .5em

						td
							padding .2em

					.status-info
						display inline
						color #fff
						background warnColor
						font-weight bold
						font-size 2rem
						padding .5rem

					.good-status
						background okColor

					.warning-status
						background warnColor

					.bad-status
						background errorColor

					div.content-section
						padding 1vh 0
						margin 1vh 0
						border-bottom 2px solid borderColor

						.button-link
							color #fff
							background #000
							text-decoration none
							padding .3em

					ul
						padding-inline-start 40px

				p.about
					max-width 60vw

			div#info-container
				order 2
				flex 1 2

				h2
					text-align center

		footer
			padding page-padding
			background panelColor
			bottom 0
