page-padding = 3vh 3vw
mainColor = #eb7015
secondaryColor = #c930eb
okColor = #0a0
warnColor = #770
errorColor = #a00
borderColor = #ddd
panelColor = #f5f5f5
shadowColor = rgba(0, 0, 0, 0.3)
mainGradient = linear-gradient(90deg, mainColor 0%, secondaryColor 100%)
