doctype html
head
	include ../head

body
	include ../header_full
	include ../notifications

	main
		include ../nav-container

		div#main-container
			div#content-container
				div.tab-selected
					h1.title Dashboard
					div.content-section
						h3#status Status
						div.status-info#status-field Waiting for server...
						h3#ports Ports
						ol#port-container
					div.content-section
						h3#directories Directories
						ol#directory-container
					div.content-section
						h3#vhosts Virtual Hosts
						ol#vhost-container
					div.content-section
						h3#includes Configuration files
						ol#include-container
					div.content-section
						h3#logs Log settings
						div#log-file-field
						h4#log-formats Log formats
						ol#log-format-container
					div.content-section
						h3#connections Connection settings
						p#timeout-field
						h4#keepalive Keep Alive settings
						p#keepalive-field
						p#maxkeepaliverequests-field
						p#keepalivetimeout-field
					div.content-section
						h3#signature Server signature
						p#server-signature-field
						p#server-tokens-field
			script(type="module" src="/js/dashboard-info.js")

		include ../info-container


footer
	include ../footer
