doctype html
head
	include ../head

body
	include ../header_full

	main
		div.navigation-container
			h2 Navigation
			ul#navigation-selector

		div.main-container
			div#dashboard-container
				h1#dashboard-header Dashboard
				div.dashboard-section#section-general
					h3#status-header Status
					div
						span.status-info#general-status
					div#ports
						h3#ports-header Ports
				div.dashboard-section#section-directories
					h3#directories-header Directories
				div.dashboard-section#section-vhosts
					h3#vhsosts-header Virtual Hosts

			script(type="text/javascript" src="/js/dashboard-info.js")
		div.info-container
			h2 Help
				p (under construction)

	footer
		include ../footer
