doctype html
head
	include ../head

body#top
	include ../header_full
	include ../notifications

	main
		div.navigation-container
			h2 Navigation
			ul#menu-container
				a(href='#top') Top

		div.main-container
			div#dashboard-container
				h1#dashboard Dashboard
				div.dashboard-section#status-container
					h3#status Status
					div.status-info#status-info Waiting for server...
					h3#ports Ports
					ol#port-container
				div.dashboard-section
					h3#directories Directories
					ol#directory-container
				div.dashboard-section
					h3#vhosts Virtual Hosts
					ol#vhost-container

			script(type="module" src="/js/dashboard-info.js")
		div.info-container
			h2 Help
				p (under construction)

	footer
		include ../footer
