doctype html
head
	include ../head

body
	include ../header_full

	main
		div.navigation-container
		div.main-container
			h1 Dashboard
			div#dashboard-container
			script(type="text/javascript" src="/js/dashboard-info.js")
		div.info-container


	footer
		include ../footer
