doctype html
head
	include ../head
	link(rel="stylesheet", type="text/css", href="/style/login.css")

body
	include ../header_full
	include ../notifications

	main
		h1 Under construction

footer
	include ../footer
