doctype html

head
	include ../head

body
	include ../header_full
	include ../notifications

	div#tab-container

	main
		include ../nav-container

		div#main-container
			div#content-container
				div.tab.tab-selected#tab-ports
					h1.title Ports
					h2 Ports
					table#ports-table
						tr
							th Port
							th Module
							th Active
							th Edit
							th Delete
				div.tab#tab-directories
					h1.title Directories
					h2 Directories
					table#directories-table
						tr
							th Directory
							th Active
							th Edit
							th Delete
				div.tab#tab-vhosts
					h1.title Virtual hosts
					h2 vhosts
				div.tab#tab-includes
					h1.title Included files
					h2 includes
				div.tab#tab-log
					h1.title Log settings
					h2 log
				div.tab#tab-connection
					h1.title Connection settings
					h2 conn
				div.tab#tab-signature
					h1.title Server signature
					h2 sig

		include ../info-container
	script(type="module" src="/js/tabs.js")
	script(type="module" src="/js/settings/settings.js")

footer
	include ../footer
